@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";
body {
    position: absolute;
    background-image: url("animalcaretitle-01.png");
    background-size: contain;
    background-position: top;
    background-repeat:no-repeat;
    height: 890px;
}

table {margin:125px}

th:first-of-type {
    border-top-left-radius: 10px;
  }
  th:last-of-type {
    border-top-right-radius: 10px;
  }
  tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 10px;
  }
  tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 10px;
  }