
body {
    background-image: url("aggies.jpg");
    background-size: cover;
    background-position: center top;
    background-repeat:no-repeat;
    height: 100vh;
}

.button1
{
    position: absolute;
    background-image: url("get started-01.png");
    background-size: contain;
    background-position: center top;
    width: 400px;
    height: 75px;

    left: 37%;
    bottom: 18%;
    border-radius: 25px;
}



