body {
    background-image: url("aggies.jpg");
    background-size: cover;
    background-position: center top;
    background-repeat:no-repeat;
}

.card {
    text-align: center;
    position: relative;
    top: 72%;
    background-color: white;
    width: 20%;
    margin: auto;
    padding: 10px;
}

.card-footer-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}